body{
	background-color: white;
	margin-left:10%;
	margin-top: 3%;
	margin-right: 10%;
}
td:hover{
		background-color: black;
		color: white;
}
td{
	padding: 10px;
}
table{
	border-width: 2px;
	width:100%;
	padding: 10px;
}
header{
	padding: 10px;
	text-align: center;
	font-size: 2em;
}