body{
	background-color: #bbff99;
	margin-right: 15%;
	margin-left: 15%;
	text-align: justify;
	

}
.thanks{
	font-size: 2em;
	text-align: center;
}
.atas{
	font-size: 1em;
	text-align: left;
}